*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.section_nav{
    position: relative;
    text-align: center;
}
.blur-text {
    opacity: 0.1; /* Điều chỉnh độ trong suốt của chữ */
    font-size: 150px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(141, 113, 77);
  }
.overlay-text-up {  
    position: absolute;
    top: 80px;
    left: 49%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    color: rgb(24, 148, 20);
}
.overlay-text-down {
    position: absolute;
    top: 145px;
    left: 49%;
    transform: translate(-50%, -50%);
    color: rgba(53, 33, 7, 0.89);
    font-weight: bold;
    font-size: 40px;
    width: 100%;
}
.section_div{
    margin-top: 20px;
    text-align: center;
}
.text1{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: rgb(24, 148, 20);
}
.text2{
    margin: 20px 0 40px 0;
    color: rgba(53, 33, 7, 0.89);
    font-weight: bold;
    font-size: 40px;
}

.contact_us{
    text-align: center;
}
.icon1{
    border: 1px solid rgb(158, 106, 9);
    height: 120px;
    width: 120px;
    margin: auto;
}
.icon1:hover{
    background-color: rgb(158, 106, 9);
}
.icon1>a>i{
    margin: auto;
    margin-top: 30px;
    font-size: 50px;
    color: rgb(158, 106, 9);
}
.icon1>a>i:hover{
    color:white
}
.icon2{
    border: 1px solid green;
    height: 120px;
    width: 120px;
    margin: auto;
}
.icon2:hover{
    background-color: green;
}
.icon2>a>i{
    margin: auto;
    margin-top: 30px;
    font-size: 50px;
    color: green;
}
.icon2>a>i:hover{
    color: white;
}
#iteamtext{
    padding-top: 30px;
}
.gachngang1{
    position: absolute;
    top: 310px;
    left: 21%;
    opacity: 0.1;
    user-select: none;
}
.gachngang2{
    position: absolute;
    top: 310px;
    left: 47%;
    opacity: 0.1;
    user-select: none;
}
.gachngang3{
    position: absolute;
    top: 310px;
    right: 21%;
    opacity: 0.1;
    user-select: none;
}
.gachngang4{
    position: absolute;
    top: 320px;
    right: 45%;
    opacity: 0.1;
    user-select: none;
}
.gachngang5{
    position: absolute;
    top: 560px;
    right: 45%;
    opacity: 0.1;
    user-select: none;
}

.container-image-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container-image {
    margin-top: 100px;
}
.map {
    height: 550px;
    position: absolute;
    left: auto;
}
.map1 {
    position: absolute;
    left: 50%;
    top: 1468px;
}
.map-full {
    width: 100%; 
    height: 550px;
    margin-top: 100px;
}
.full-width-image{
    width: 100%; 
    height: 550px;
}
.full-width-image1{
    width: 100%; 
    height: 550px;
}

@media screen and (max-width: 3600px){
    body{
        width: 100%;
    }
    .mobile-show{
        display: none;
    }
    .mobile-hide-gach{
        display: block;
    }
    .mobile-show-gach{
        display: none;
    }
    .img-hide{
        display: none;
    }
    .img-moblie-hide{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    body{
        width: 100%;
    }
    .mobile-show{
        display: none;
    }
    .mobile-hide-gach{
        display: none;
    }
    .mobile-show-gach{
        display: block;
    }
    .img-hide{
        display: none;
    }
    .img-moblie-hide{
        display: none;
    }
}
@media screen and (max-width: 992px) {
    body{
        width: 100%;
    }
    .mobile-show{
        display: none;
    }
    .mobile-show-gach{
        display: none;
    }
    .img-show{
        display: none;
    }
    .img-hide{
        display: block;
    }
    .img-moblie-hide{
        display: none;
    }

}
@media screen and (max-width: 768px){
    body{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section_main{
        width: 100%;
    }
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: block;
    }
    .img-show{
        display: none;
    }
    .img-hide{
        display: none;
    }
    .img-moblie-hide{
        display: block;
    }
    
}